@viewport { zoom: 1.0; width: extend-to-zoom; }
@-ms-viewport { zoom: 1.0; width: extend-to-zoom; }
@font-face {
	font-family: 'Avenir';
  	src: url('/fonts/avenir.eot'); /* IE9 Compat Modes */
  	src: url('/fonts/avenir.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/avenir.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/avenir.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/****************/
/* MOBILE FIRST */
/****************/

/** Global **/
html { font-size: 16px; height: 100%; }
body {
    margin: 0;
    padding: 0;
    font-size: 62.5%;  /* 1em = 10px */
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 300;
    height: 100%;
}
h1, h2, h3, h4, h5 { font-size: 2.2em; color: #595959; margin: 0; }
img { border: 0; }
a:active, a:hover { text-decoration: none; }
#mainwrap { background-color: #ffffff; }

/** Header **/
nav {
    ul {
        font-family: 'Open Sans', Helvetica, sans-serif;
        display: table;
        width: 100%;
        max-width: 1133px;
        padding: 0px;
        margin: auto;
        border-bottom: 1px solid #ccc;
        list-style: none;
    }
    li {
        display: table-cell;
        text-align: center;
        background-color: #999;
        font-size: 1.5em;
    }
    a {
        padding: 1em 0;
        display: block;
        text-decoration: none;
        color: #fff;
        line-height: initial; 
    }
    #pelogo-sm {
        display: table-cell;
        width: 80%;
        background: url('/images/PEblackLogo-sm.png') no-repeat;
        background-size: contain;
        color: transparent;
        background-position: center;
        position: absolute;
        background-color: #fff;
        top:1px;
    }
    #pelogo-sm a { color: transparent; }
}

#homenav, #cardsnav, #contactnav { border-right: 1px solid #ccc; }

#menu { 
        line-height: 0.75em;
        color: #fff;
        width:20%;
        z-index: 10;
        position: relative;
        border-left: 1px solid #ccc;
        vertical-align: middle;

    div {
        position: absolute;
        width: 100%;
    }
    .on {
        letter-spacing: 0.25em;
        padding-left: 0.1em;
        font-size: 1.25em;
        margin-top: -0.75em;
        display: none;
        }
    .off { font-size: 1.5em; margin-top: -0.5em; } 
}

nav span, #home #homenav, #home #menu, #home #pelogo-sm, #cardspg #cardsnav, #contactpg #contactnav { display: none; }
#home #cardsnav, #home #contactnav { width:50%; }
#cardspg #homenav, #cardspg #cardsnav, #cardspg #contactnav { width: 40%; }

#hero, #topsect, #secsect { text-align: center; position: relative; }
#hero {
    .content {
        width: 100%;
        position: absolute;
        top: 0;
        padding: 5% 5% 0 5%;
        box-sizing: border-box;
    }
    .logo {
        width: 60%;
        float: left;
        padding-right: 5%;
    }
    #pelogo { max-width: 626px; }
}

/*#hero div { max-width: 103em; position: absolute; top: 0; padding: 5%; }*/
#topsect span, #secsect span { display: table-cell; vertical-align: middle; }

/** Main **/
main {
    width: 90%;
    margin: auto;
    max-width: 1278px;
    display: block;

    section {
        border-bottom: 1px dashed #ccc;
        margin-bottom: 4.5em;
        padding-bottom: 2em;
        display: table;
        width: 100%;
    }
    section:last-child { border: none; }
}
.hdr-icon-wrap { text-align: center; margin: auto; }
.hdr-icon-wrap img { width: 33%; height: 33%; }
#recordable-icon { width: 45%; height: 45%; }
article {
    padding: 0px 5px;
    text-align: justify;
    margin-top: 0px;
    color: #595959;
    font-size: 1.7em;
    overflow: auto;
    
    strong { font-weight: 500; }
}

/** Footer **/
footer .logo {
    background-color: #333;
    text-align: center;
    padding: 15px 0px 20px;
    color:#fff;
    font-size: 1.7em;
}
.logo a { color: #00AEED; }
#copyright {
    background-color: #000;
    color:#fff;
    text-align: center;
    padding: 10px;
    font-size: 1.3em;
}

/** HOME PAGE **/
#home {
    #pelogo { width: 100%; }
    #slide1 { display: inline; position: relative; }
    #slide1, #slide2, #slide3 { width: 100%; top: 0; }
    #slide2, #slide3 { position: absolute; left: 0; display: none; }
    h1 {
        display: inline;
        margin: 0;
        font-size: 1em;
        font-weight: 300;
    }
    main section { margin-top: 20px; }

    #commercialCTA { float: left; width: 30%; display: none; }
    #commercialCTA img { width: 100%; box-shadow: 0 0 40px #000; }
    #commercialCTA-m { margin: 20px auto; width: 80%; }
    #commercialCTA-m img { width: 80%; }
    #vid { width: 90%; }
}

/** CARDS PAGE **/
#cardspg {
    main { width: auto; }
    #audcard, #vidcard { margin-top: 3.5em; }
    #topsect {
        background: url('/images/cards-bgnd1.jpg') no-repeat;
        background-size: cover;
        background-position: initial;
        padding-bottom: 0;
        position: relative;
    }
    #secsect {
        background: url('/images/cards-bgnd2.jpg') no-repeat;
        background-size: cover;
        padding-bottom: 0;
        background-position: right;
        position: relative;
    }
    .demoClick { cursor: pointer; }
    h1, h2 { font-size: 1.75em; color: #333; position: absolute; top: 0; width: 90%; text-align: center; } 
    #topsect span, #secsect span { display: block; }
    article { background-color: #fff; padding: 0 0.75em; }
    .expandable {
        border-bottom:1px dotted;
        overflow:hidden;
        /*height:3.5em;*/
    }
    form { padding-bottom: 1em; }
    #phone { width: 10em; }
} 

aside {
    font-size: 1.7em;
    margin: 7em 1em 3em;
    /*border: 2px solid #ccc;
    padding: 0.75em;*/ 

    header {
        background-color: #fff;
        margin-top: -4em;
        padding: 0 0.75em;
        text-align: justify;
    }
    figure { min-height: 3em; margin: 1em 0; }
    figure span { float:left; margin-right:1em; }
    figure:last-child { display: none; }
}

#audcard:hover, #vidcard:hover { opacity: 0.85; cursor: pointer; }

figcaption { overflow:auto; }

#vidModal, #aud3dModal, #vid3dModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding: 60px 0 0; /* Location of the box */ 
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    width: 80%;
    max-width: 700px;
    border-radius: 10px;
    display: block;
    background-color: #fff;
    padding: 1em 1.5em;
    header { font-size: 1.75em; }
}

#vidSec { 
    margin: auto;
    width: 80%;
    max-width: 700px;
    border-radius: 10px;
    display: none;
    border: 1px solid #000;
    box-shadow: 0px 0px 25px #333;
    background-color: #fff;
}

#audForm > div { margin-bottom: 1.25em; }
#vidForm { display:none; }
#callInitMod {
    display: none;
    div { font-size: 1.35em; }
    input { display: inline; font-size: 1em; }
}
#loadMod { text-align: center; display: none; }
#callInitMod header, #loadMod header { font-weight: bold; font-size: 2.25em; }
.close { 
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 50px;
    font-weight: bold;
    transition: 0.3s;

    &:hover,
    &:focus {
        color: #fff; 
        text-decoration: none;
        cursor: pointer;
    }
}
#fileupload { width: 100%; }

/** CONTACT PAGE **/
form { font-size: 2.5em; padding-bottom: 2em; }
fieldset {
    display: block;
    border: 1px dotted #999;

    legend { color: #999; background-color: #fff; padding: 0 1em; font-size: 0.75em; border: none; width: auto; }
    div { margin-bottom: 0.75em; }
    div:last-child { text-align: center; }
}

input, textarea {
    font-size: 0.75em;
    padding: 0.25em;
    font-family: 'open sans', sans-serif;
    font-weight: 300;
    margin: auto;
    display: block;
}
input[type=reset], input[type=submit] { display: inline-block; }
@mixin placeholder() {
    color: #ccc;
    font-style: italic;
    text-align: right;
    font-size: 0.75em;
}
::-webkit-input-placeholder { @include placeholder(); }
:-moz-placeholder { @include placeholder(); } /* Firefox 18- */
::-moz-placeholder { @include placeholder(); }  /* Firefox 19+ */
:-ms-input-placeholder { @include placeholder(); }
:-o-input-placeholder { @include placeholder(); }

.g-recaptcha div { width: auto !important; }
.g-recaptcha iframe { margin-left: 5%; }

/** (forced) Global */
.expand-more, .expand-less {
    position: absolute;
    right: 0;
    font-size: 0.85em;
    color: #fff;
    background-color: #aaa;
    padding: 0.5em 0.5em 0.5em 0.75em;
    border-bottom-left-radius: 0.25em;
}
#cardspg #topsect .expand-less, #cardspg #secsect .expand-less { display: none; } /* Must use 3 selectors, not !important due to jQ hide/show */

.small { font-size: 0.5em; }

/*****************/
/* MEDIA QUERIES */
/*****************/ 
/* Mobile */
@media screen and (max-width : 740px) {
    .no-mobile { display: none; }
    #aud3d, #vid3d { width: 90%;  }
}

/* Desktop */
@media screen and (min-width : 900px) {
    .no-desktop { display: none; }
}

/* Desktop & Tablet */
@media screen and (min-width : 740px) { 
/*header { max-width: 100em; margin: auto; }*/
    
	h1 { font-size: 1em; font-weight: inherit; }
	h2, h3, h4, h5 { font-size: 2.42em; font-weight: inherit; }
	nav a, a { color:#004578; } 

	nav {
        ul { text-align: right; border: none; width: 90%; }
        li { display: inline-block; width: auto !important; background-color: transparent; border: 0 !important; font-size: 1.4em; }
        li:hover { background-color: #eee; }
        a { padding-left: 0.5em; padding-right: 0.5em; }
        li span { display: inline; }
    }
    #menu, #home #pelogo-sm  { display: none !important; }
    #pelogo-sm { width: 17.5em !important; }
    
    main { max-width: 103em; margin: auto; padding-left: 7em; padding-right: 7em; box-sizing: border-box; } 
	main section { border: none; margin-bottom: 2em; padding-bottom: 1.5em; }
		.odd .hdr-icon-wrap { padding-right: 1.5%; margin-right: 1.5%; border-right: 1px solid #999; float: left; }
		.even .hdr-icon-wrap { padding-left: 1.5%; margin-left: 1.5%; float: right; border-left: 1px solid #999; }
			.hdr-icon-wrap img { width: auto; height: auto; }
			.hdr-icon-wrap { min-width: 20em; width: 26%; }
			article { text-align: inherit; line-height: 1.75em; }
		#recordable-icon { width: auto; height: auto; }
    #cardspg .expandable { border-bottom: 0; }
    
	footer .logo { font-size: 2em; }
    
    /** HOME PG **/
	#home {
        #homenav { background-color: #999; display: inline-block; } 
        #homenav a { color: #fff; }
        #hero { display: table; margin: auto; width: 100%; max-width: 1280px; text-align: inherit; cursor: pointer; }

        #commercialCTA-m { display: none; }
        
        #vid { width: auto; }
    }
    
    /** CARDS PG **/
	#cardspg {
        > header { max-width: 1273px; margin: auto; }
        #cardsnav { background-color: #999; display: inline-block; } 
	    #cardsnav a { color: #fff; }
        main { max-width: 127.4em ; } 
        
        h1, h2 { white-space: nowrap; position: relative; width: auto; font-size: 1.7em; padding-bottom: 0.2em; color: #a5a5a5; }
        h1 { text-align: left; }
        h2 { text-align: right; }
        #audcard, #vidcard { margin-top: 0; }
        article { background-color: transparent; text-align: left; font-size: 1.7em; line-height: 1.55em; padding: 0 0.7em; }
        
        .tryme { margin-top:1em; margin-bottom: -2em; z-index: 10; position: relative; }
	    #topsect { background: url('/images/cards-bgnd1.jpg') no-repeat; padding: 3em 0; margin-top: 0; margin-bottom: 0; background-size: cover; background-position-x: -300px; }
        /*#topsect div, #secsect div { margin: 4.2em auto; }*/
        #topsect span { display: table; margin-left: 8%; margin-right: 1.4em; float: left; }
        #topsect article span, #cardspg #topsect article span { overflow:hidden; height:3.5em; padding:0 0 1em; margin:0 0.1%; }

	    #secsect { background: url('/images/cards-bgnd2.jpg') no-repeat; padding: 3em 0; margin-top: 0; background-position: 100%; background-size: cover; }
        #secsect span { display: table; margin-right: 8%; margin-left: 1em; float: right; }
        #secsect .expandable { margin-right: 0; }
    }
    
    .expand-more, .expand-less { display: none !important; }
    
    aside {
        font-size: 2.25em;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        
        header {
            margin: -4.25em auto 1em;
            text-align: center;
            padding: 0 2em;
            /*max-width: 750px;*/
            font-size: 1.05em;
            box-sizing: border-box;
        }
        figure {
            width: 30%;
            display: inline-table;
        }
        figure span {
            border-right: 2px solid #666;
            padding: 0.25em 0.75em 0.5em 0; 
            float: left;
            margin-right: 1em;
        }
        figure:last-child { width: 55px !important; float: right; display: inline-table; }
        figure:last-child img { margin-right: 0; }
        figcaption { text-align: left; font-size: 0.75em; }
    }

    #fileupload { width: initial; }

    /** CONTACT PG **/
	#contactpg {
        #contactnav { background-color: #999; display: inline-block; }
        #contactnav a { color: #fff; }
        > header { max-width: 880px; margin: auto; }
        label {
            width: 5em; 
            display: inline-block;
            text-align: right;
            vertical-align: top;
            padding-right: 0.25em;
        }
    }
    form { text-align: center; }
    fieldset legend { font-size: inherit; }
    #mssgreply { text-align: center; font-size: 1.5em; color: #00AEED; font-weight: bold; }
    fieldset { padding: 0 2em; display: initial; }
    fieldset div { margin: 0.75em; padding: 0.25em; }
    input, textarea {
        font-size: 0.75em;
        width: 20em;
        display: initial;
    }
    input[type=reset], input[type=submit], input[type=button] { width: 25%; }
    #callInitMod input[type=button] { width: 10%; } 
    textarea { height: 3.75em; }

    .g-recaptcha { margin: 0; border-top: 1px dotted #aaa; border-bottom: 1px dotted #aaa; padding-top: 0.75em; padding-bottom: 0.75em; }
    .g-recaptcha div { margin: 0; padding: 0; }
    .g-recaptcha iframe { padding-left: 19%; }

}

@media screen and (max-width :730px) {
    #hero {
        #slide2, #commercialCTA { display: none !important; }
        .logo {
            width: 100%;
            float: none;
            padding-right: 0;
        }
    }
}

@media screen and (min-width : 650px) and (max-width : 768px) {
    main { padding: 0; }
	#pelogo { margin: auto; }
    #topsect article { padding-right: 3em; }
    #secsect article { padding-left: 4em; }
    aside { margin-left: 3em; margin-right: 3em; }
    aside figure { width: 32%; }
    aside figure:last-child { display: none; }
    aside figure span { margin-right: 1em; }
}
