@viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}
@-ms-viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}
@font-face {
  font-family: 'Avenir';
  src: url("/fonts/avenir.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/avenir.eot?#iefix") format("embedded-opentype"), url("/fonts/avenir.woff") format("woff"), url("/fonts/avenir.ttf") format("truetype");
  /* Safari, Android, iOS */
}
/****************/
/* MOBILE FIRST */
/****************/
/** Global **/
/* line 16, ../sass/main.scss */
html {
  font-size: 16px;
  height: 100%;
}

/* line 17, ../sass/main.scss */
body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  /* 1em = 10px */
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: 300;
  height: 100%;
}

/* line 25, ../sass/main.scss */
h1, h2, h3, h4, h5 {
  font-size: 2.2em;
  color: #595959;
  margin: 0;
}

/* line 26, ../sass/main.scss */
img {
  border: 0;
}

/* line 27, ../sass/main.scss */
a:active, a:hover {
  text-decoration: none;
}

/* line 28, ../sass/main.scss */
#mainwrap {
  background-color: #ffffff;
}

/** Header **/
/* line 32, ../sass/main.scss */
nav ul {
  font-family: 'Open Sans', Helvetica, sans-serif;
  display: table;
  width: 100%;
  max-width: 1133px;
  padding: 0px;
  margin: auto;
  border-bottom: 1px solid #ccc;
  list-style: none;
}
/* line 42, ../sass/main.scss */
nav li {
  display: table-cell;
  text-align: center;
  background-color: #999;
  font-size: 1.5em;
}
/* line 48, ../sass/main.scss */
nav a {
  padding: 1em 0;
  display: block;
  text-decoration: none;
  color: #fff;
  line-height: initial;
}
/* line 55, ../sass/main.scss */
nav #pelogo-sm {
  display: table-cell;
  width: 80%;
  background: url("/images/PEblackLogo-sm.png") no-repeat;
  background-size: contain;
  color: transparent;
  background-position: center;
  position: absolute;
  background-color: #fff;
  top: 1px;
}
/* line 66, ../sass/main.scss */
nav #pelogo-sm a {
  color: transparent;
}

/* line 69, ../sass/main.scss */
#homenav, #cardsnav, #contactnav {
  border-right: 1px solid #ccc;
}

/* line 71, ../sass/main.scss */
#menu {
  line-height: 0.75em;
  color: #fff;
  width: 20%;
  z-index: 10;
  position: relative;
  border-left: 1px solid #ccc;
  vertical-align: middle;
}
/* line 80, ../sass/main.scss */
#menu div {
  position: absolute;
  width: 100%;
}
/* line 84, ../sass/main.scss */
#menu .on {
  letter-spacing: 0.25em;
  padding-left: 0.1em;
  font-size: 1.25em;
  margin-top: -0.75em;
  display: none;
}
/* line 91, ../sass/main.scss */
#menu .off {
  font-size: 1.5em;
  margin-top: -0.5em;
}

/* line 94, ../sass/main.scss */
nav span, #home #homenav, #home #menu, #home #pelogo-sm, #cardspg #cardsnav, #contactpg #contactnav {
  display: none;
}

/* line 95, ../sass/main.scss */
#home #cardsnav, #home #contactnav {
  width: 50%;
}

/* line 96, ../sass/main.scss */
#cardspg #homenav, #cardspg #cardsnav, #cardspg #contactnav {
  width: 40%;
}

/* line 98, ../sass/main.scss */
#hero, #topsect, #secsect {
  text-align: center;
  position: relative;
}

/* line 100, ../sass/main.scss */
#hero .content {
  width: 100%;
  position: absolute;
  top: 0;
  padding: 5% 5% 0 5%;
  box-sizing: border-box;
}
/* line 107, ../sass/main.scss */
#hero .logo {
  width: 60%;
  float: left;
  padding-right: 5%;
}
/* line 112, ../sass/main.scss */
#hero #pelogo {
  max-width: 626px;
}

/*#hero div { max-width: 103em; position: absolute; top: 0; padding: 5%; }*/
/* line 116, ../sass/main.scss */
#topsect span, #secsect span {
  display: table-cell;
  vertical-align: middle;
}

/** Main **/
/* line 119, ../sass/main.scss */
main {
  width: 90%;
  margin: auto;
  max-width: 1278px;
  display: block;
}
/* line 125, ../sass/main.scss */
main section {
  border-bottom: 1px dashed #ccc;
  margin-bottom: 4.5em;
  padding-bottom: 2em;
  display: table;
  width: 100%;
}
/* line 132, ../sass/main.scss */
main section:last-child {
  border: none;
}

/* line 134, ../sass/main.scss */
.hdr-icon-wrap {
  text-align: center;
  margin: auto;
}

/* line 135, ../sass/main.scss */
.hdr-icon-wrap img {
  width: 33%;
  height: 33%;
}

/* line 136, ../sass/main.scss */
#recordable-icon {
  width: 45%;
  height: 45%;
}

/* line 137, ../sass/main.scss */
article {
  padding: 0px 5px;
  text-align: justify;
  margin-top: 0px;
  color: #595959;
  font-size: 1.7em;
  overflow: auto;
}
/* line 145, ../sass/main.scss */
article strong {
  font-weight: 500;
}

/** Footer **/
/* line 149, ../sass/main.scss */
footer .logo {
  background-color: #333;
  text-align: center;
  padding: 15px 0px 20px;
  color: #fff;
  font-size: 1.7em;
}

/* line 156, ../sass/main.scss */
.logo a {
  color: #00AEED;
}

/* line 157, ../sass/main.scss */
#copyright {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 1.3em;
}

/** HOME PAGE **/
/* line 167, ../sass/main.scss */
#home #pelogo {
  width: 100%;
}
/* line 168, ../sass/main.scss */
#home #slide1 {
  display: inline;
  position: relative;
}
/* line 169, ../sass/main.scss */
#home #slide1, #home #slide2, #home #slide3 {
  width: 100%;
  top: 0;
}
/* line 170, ../sass/main.scss */
#home #slide2, #home #slide3 {
  position: absolute;
  left: 0;
  display: none;
}
/* line 171, ../sass/main.scss */
#home h1 {
  display: inline;
  margin: 0;
  font-size: 1em;
  font-weight: 300;
}
/* line 177, ../sass/main.scss */
#home main section {
  margin-top: 20px;
}
/* line 179, ../sass/main.scss */
#home #commercialCTA {
  float: left;
  width: 30%;
  display: none;
}
/* line 180, ../sass/main.scss */
#home #commercialCTA img {
  width: 100%;
  box-shadow: 0 0 40px #000;
}
/* line 181, ../sass/main.scss */
#home #commercialCTA-m {
  margin: 20px auto;
  width: 80%;
}
/* line 182, ../sass/main.scss */
#home #commercialCTA-m img {
  width: 80%;
}
/* line 183, ../sass/main.scss */
#home #vid {
  width: 90%;
}

/** CARDS PAGE **/
/* line 188, ../sass/main.scss */
#cardspg main {
  width: auto;
}
/* line 189, ../sass/main.scss */
#cardspg #audcard, #cardspg #vidcard {
  margin-top: 3.5em;
}
/* line 190, ../sass/main.scss */
#cardspg #topsect {
  background: url("/images/cards-bgnd1.jpg") no-repeat;
  background-size: cover;
  background-position: initial;
  padding-bottom: 0;
  position: relative;
}
/* line 197, ../sass/main.scss */
#cardspg #secsect {
  background: url("/images/cards-bgnd2.jpg") no-repeat;
  background-size: cover;
  padding-bottom: 0;
  background-position: right;
  position: relative;
}
/* line 204, ../sass/main.scss */
#cardspg .demoClick {
  cursor: pointer;
}
/* line 205, ../sass/main.scss */
#cardspg h1, #cardspg h2 {
  font-size: 1.75em;
  color: #333;
  position: absolute;
  top: 0;
  width: 90%;
  text-align: center;
}
/* line 206, ../sass/main.scss */
#cardspg #topsect span, #cardspg #secsect span {
  display: block;
}
/* line 207, ../sass/main.scss */
#cardspg article {
  background-color: #fff;
  padding: 0 0.75em;
}
/* line 208, ../sass/main.scss */
#cardspg .expandable {
  border-bottom: 1px dotted;
  overflow: hidden;
  /*height:3.5em;*/
}
/* line 213, ../sass/main.scss */
#cardspg form {
  padding-bottom: 1em;
}
/* line 214, ../sass/main.scss */
#cardspg #phone {
  width: 10em;
}

/* line 217, ../sass/main.scss */
aside {
  font-size: 1.7em;
  margin: 7em 1em 3em;
  /*border: 2px solid #ccc;
  padding: 0.75em;*/
}
/* line 223, ../sass/main.scss */
aside header {
  background-color: #fff;
  margin-top: -4em;
  padding: 0 0.75em;
  text-align: justify;
}
/* line 229, ../sass/main.scss */
aside figure {
  min-height: 3em;
  margin: 1em 0;
}
/* line 230, ../sass/main.scss */
aside figure span {
  float: left;
  margin-right: 1em;
}
/* line 231, ../sass/main.scss */
aside figure:last-child {
  display: none;
}

/* line 234, ../sass/main.scss */
#audcard:hover, #vidcard:hover {
  opacity: 0.85;
  cursor: pointer;
}

/* line 236, ../sass/main.scss */
figcaption {
  overflow: auto;
}

/* line 238, ../sass/main.scss */
#vidModal, #aud3dModal, #vid3dModal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 100;
  /* Sit on top */
  padding: 60px 0 0;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* line 252, ../sass/main.scss */
.modal-content {
  margin: auto;
  width: 80%;
  max-width: 700px;
  border-radius: 10px;
  display: block;
  background-color: #fff;
  padding: 1em 1.5em;
}
/* line 260, ../sass/main.scss */
.modal-content header {
  font-size: 1.75em;
}

/* line 263, ../sass/main.scss */
#vidSec {
  margin: auto;
  width: 80%;
  max-width: 700px;
  border-radius: 10px;
  display: none;
  border: 1px solid #000;
  box-shadow: 0px 0px 25px #333;
  background-color: #fff;
}

/* line 274, ../sass/main.scss */
#audForm > div {
  margin-bottom: 1.25em;
}

/* line 275, ../sass/main.scss */
#vidForm {
  display: none;
}

/* line 276, ../sass/main.scss */
#callInitMod {
  display: none;
}
/* line 278, ../sass/main.scss */
#callInitMod div {
  font-size: 1.35em;
}
/* line 279, ../sass/main.scss */
#callInitMod input {
  display: inline;
  font-size: 1em;
}

/* line 281, ../sass/main.scss */
#loadMod {
  text-align: center;
  display: none;
}

/* line 282, ../sass/main.scss */
#callInitMod header, #loadMod header {
  font-weight: bold;
  font-size: 2.25em;
}

/* line 283, ../sass/main.scss */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 50px;
  font-weight: bold;
  transition: 0.3s;
}
/* line 292, ../sass/main.scss */
.close:hover, .close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* line 299, ../sass/main.scss */
#fileupload {
  width: 100%;
}

/** CONTACT PAGE **/
/* line 302, ../sass/main.scss */
form {
  font-size: 2.5em;
  padding-bottom: 2em;
}

/* line 303, ../sass/main.scss */
fieldset {
  display: block;
  border: 1px dotted #999;
}
/* line 307, ../sass/main.scss */
fieldset legend {
  color: #999;
  background-color: #fff;
  padding: 0 1em;
  font-size: 0.75em;
  border: none;
  width: auto;
}
/* line 308, ../sass/main.scss */
fieldset div {
  margin-bottom: 0.75em;
}
/* line 309, ../sass/main.scss */
fieldset div:last-child {
  text-align: center;
}

/* line 312, ../sass/main.scss */
input, textarea {
  font-size: 0.75em;
  padding: 0.25em;
  font-family: 'open sans', sans-serif;
  font-weight: 300;
  margin: auto;
  display: block;
}

/* line 320, ../sass/main.scss */
input[type=reset], input[type=submit] {
  display: inline-block;
}

/* line 327, ../sass/main.scss */
::-webkit-input-placeholder {
  color: #ccc;
  font-style: italic;
  text-align: right;
  font-size: 0.75em;
}

/* line 328, ../sass/main.scss */
:-moz-placeholder {
  color: #ccc;
  font-style: italic;
  text-align: right;
  font-size: 0.75em;
}

/* Firefox 18- */
/* line 329, ../sass/main.scss */
::-moz-placeholder {
  color: #ccc;
  font-style: italic;
  text-align: right;
  font-size: 0.75em;
}

/* Firefox 19+ */
/* line 330, ../sass/main.scss */
:-ms-input-placeholder {
  color: #ccc;
  font-style: italic;
  text-align: right;
  font-size: 0.75em;
}

/* line 331, ../sass/main.scss */
:-o-input-placeholder {
  color: #ccc;
  font-style: italic;
  text-align: right;
  font-size: 0.75em;
}

/* line 333, ../sass/main.scss */
.g-recaptcha div {
  width: auto !important;
}

/* line 334, ../sass/main.scss */
.g-recaptcha iframe {
  margin-left: 5%;
}

/** (forced) Global */
/* line 337, ../sass/main.scss */
.expand-more, .expand-less {
  position: absolute;
  right: 0;
  font-size: 0.85em;
  color: #fff;
  background-color: #aaa;
  padding: 0.5em 0.5em 0.5em 0.75em;
  border-bottom-left-radius: 0.25em;
}

/* line 346, ../sass/main.scss */
#cardspg #topsect .expand-less, #cardspg #secsect .expand-less {
  display: none;
}

/* Must use 3 selectors, not !important due to jQ hide/show */
/* line 348, ../sass/main.scss */
.small {
  font-size: 0.5em;
}

/*****************/
/* MEDIA QUERIES */
/*****************/
/* Mobile */
@media screen and (max-width: 740px) {
  /* line 355, ../sass/main.scss */
  .no-mobile {
    display: none;
  }

  /* line 356, ../sass/main.scss */
  #aud3d, #vid3d {
    width: 90%;
  }
}
/* Desktop */
@media screen and (min-width: 900px) {
  /* line 361, ../sass/main.scss */
  .no-desktop {
    display: none;
  }
}
/* Desktop & Tablet */
@media screen and (min-width: 740px) {
  /*header { max-width: 100em; margin: auto; }*/
  /* line 368, ../sass/main.scss */
  h1 {
    font-size: 1em;
    font-weight: inherit;
  }

  /* line 369, ../sass/main.scss */
  h2, h3, h4, h5 {
    font-size: 2.42em;
    font-weight: inherit;
  }

  /* line 370, ../sass/main.scss */
  nav a, a {
    color: #004578;
  }

  /* line 373, ../sass/main.scss */
  nav ul {
    text-align: right;
    border: none;
    width: 90%;
  }
  /* line 374, ../sass/main.scss */
  nav li {
    display: inline-block;
    width: auto !important;
    background-color: transparent;
    border: 0 !important;
    font-size: 1.4em;
  }
  /* line 375, ../sass/main.scss */
  nav li:hover {
    background-color: #eee;
  }
  /* line 376, ../sass/main.scss */
  nav a {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  /* line 377, ../sass/main.scss */
  nav li span {
    display: inline;
  }

  /* line 379, ../sass/main.scss */
  #menu, #home #pelogo-sm {
    display: none !important;
  }

  /* line 380, ../sass/main.scss */
  #pelogo-sm {
    width: 17.5em !important;
  }

  /* line 382, ../sass/main.scss */
  main {
    max-width: 103em;
    margin: auto;
    padding-left: 7em;
    padding-right: 7em;
    box-sizing: border-box;
  }

  /* line 383, ../sass/main.scss */
  main section {
    border: none;
    margin-bottom: 2em;
    padding-bottom: 1.5em;
  }

  /* line 384, ../sass/main.scss */
  .odd .hdr-icon-wrap {
    padding-right: 1.5%;
    margin-right: 1.5%;
    border-right: 1px solid #999;
    float: left;
  }

  /* line 385, ../sass/main.scss */
  .even .hdr-icon-wrap {
    padding-left: 1.5%;
    margin-left: 1.5%;
    float: right;
    border-left: 1px solid #999;
  }

  /* line 386, ../sass/main.scss */
  .hdr-icon-wrap img {
    width: auto;
    height: auto;
  }

  /* line 387, ../sass/main.scss */
  .hdr-icon-wrap {
    min-width: 20em;
    width: 26%;
  }

  /* line 388, ../sass/main.scss */
  article {
    text-align: inherit;
    line-height: 1.75em;
  }

  /* line 389, ../sass/main.scss */
  #recordable-icon {
    width: auto;
    height: auto;
  }

  /* line 390, ../sass/main.scss */
  #cardspg .expandable {
    border-bottom: 0;
  }

  /* line 392, ../sass/main.scss */
  footer .logo {
    font-size: 2em;
  }

  /** HOME PG **/
  /* line 396, ../sass/main.scss */
  #home #homenav {
    background-color: #999;
    display: inline-block;
  }
  /* line 397, ../sass/main.scss */
  #home #homenav a {
    color: #fff;
  }
  /* line 398, ../sass/main.scss */
  #home #hero {
    display: table;
    margin: auto;
    width: 100%;
    max-width: 1280px;
    text-align: inherit;
    cursor: pointer;
  }
  /* line 400, ../sass/main.scss */
  #home #commercialCTA-m {
    display: none;
  }
  /* line 402, ../sass/main.scss */
  #home #vid {
    width: auto;
  }

  /** CARDS PG **/
  /* line 406, ../sass/main.scss */
  #cardspg {
    /*#topsect div, #secsect div { margin: 4.2em auto; }*/
  }
  /* line 407, ../sass/main.scss */
  #cardspg > header {
    max-width: 1273px;
    margin: auto;
  }
  /* line 408, ../sass/main.scss */
  #cardspg #cardsnav {
    background-color: #999;
    display: inline-block;
  }
  /* line 409, ../sass/main.scss */
  #cardspg #cardsnav a {
    color: #fff;
  }
  /* line 410, ../sass/main.scss */
  #cardspg main {
    max-width: 127.4em;
  }
  /* line 412, ../sass/main.scss */
  #cardspg h1, #cardspg h2 {
    white-space: nowrap;
    position: relative;
    width: auto;
    font-size: 1.7em;
    padding-bottom: 0.2em;
    color: #a5a5a5;
  }
  /* line 413, ../sass/main.scss */
  #cardspg h1 {
    text-align: left;
  }
  /* line 414, ../sass/main.scss */
  #cardspg h2 {
    text-align: right;
  }
  /* line 415, ../sass/main.scss */
  #cardspg #audcard, #cardspg #vidcard {
    margin-top: 0;
  }
  /* line 416, ../sass/main.scss */
  #cardspg article {
    background-color: transparent;
    text-align: left;
    font-size: 1.7em;
    line-height: 1.55em;
    padding: 0 0.7em;
  }
  /* line 418, ../sass/main.scss */
  #cardspg .tryme {
    margin-top: 1em;
    margin-bottom: -2em;
    z-index: 10;
    position: relative;
  }
  /* line 419, ../sass/main.scss */
  #cardspg #topsect {
    background: url("/images/cards-bgnd1.jpg") no-repeat;
    padding: 3em 0;
    margin-top: 0;
    margin-bottom: 0;
    background-size: cover;
    background-position-x: -300px;
  }
  /* line 421, ../sass/main.scss */
  #cardspg #topsect span {
    display: table;
    margin-left: 8%;
    margin-right: 1.4em;
    float: left;
  }
  /* line 422, ../sass/main.scss */
  #cardspg #topsect article span, #cardspg #cardspg #topsect article span {
    overflow: hidden;
    height: 3.5em;
    padding: 0 0 1em;
    margin: 0 0.1%;
  }
  /* line 424, ../sass/main.scss */
  #cardspg #secsect {
    background: url("/images/cards-bgnd2.jpg") no-repeat;
    padding: 3em 0;
    margin-top: 0;
    background-position: 100%;
    background-size: cover;
  }
  /* line 425, ../sass/main.scss */
  #cardspg #secsect span {
    display: table;
    margin-right: 8%;
    margin-left: 1em;
    float: right;
  }
  /* line 426, ../sass/main.scss */
  #cardspg #secsect .expandable {
    margin-right: 0;
  }

  /* line 429, ../sass/main.scss */
  .expand-more, .expand-less {
    display: none !important;
  }

  /* line 431, ../sass/main.scss */
  aside {
    font-size: 2.25em;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }
  /* line 437, ../sass/main.scss */
  aside header {
    margin: -4.25em auto 1em;
    text-align: center;
    padding: 0 2em;
    /*max-width: 750px;*/
    font-size: 1.05em;
    box-sizing: border-box;
  }
  /* line 445, ../sass/main.scss */
  aside figure {
    width: 30%;
    display: inline-table;
  }
  /* line 449, ../sass/main.scss */
  aside figure span {
    border-right: 2px solid #666;
    padding: 0.25em 0.75em 0.5em 0;
    float: left;
    margin-right: 1em;
  }
  /* line 455, ../sass/main.scss */
  aside figure:last-child {
    width: 55px !important;
    float: right;
    display: inline-table;
  }
  /* line 456, ../sass/main.scss */
  aside figure:last-child img {
    margin-right: 0;
  }
  /* line 457, ../sass/main.scss */
  aside figcaption {
    text-align: left;
    font-size: 0.75em;
  }

  /* line 460, ../sass/main.scss */
  #fileupload {
    width: initial;
  }

  /** CONTACT PG **/
  /* line 464, ../sass/main.scss */
  #contactpg #contactnav {
    background-color: #999;
    display: inline-block;
  }
  /* line 465, ../sass/main.scss */
  #contactpg #contactnav a {
    color: #fff;
  }
  /* line 466, ../sass/main.scss */
  #contactpg > header {
    max-width: 880px;
    margin: auto;
  }
  /* line 467, ../sass/main.scss */
  #contactpg label {
    width: 5em;
    display: inline-block;
    text-align: right;
    vertical-align: top;
    padding-right: 0.25em;
  }

  /* line 475, ../sass/main.scss */
  form {
    text-align: center;
  }

  /* line 476, ../sass/main.scss */
  fieldset legend {
    font-size: inherit;
  }

  /* line 477, ../sass/main.scss */
  #mssgreply {
    text-align: center;
    font-size: 1.5em;
    color: #00AEED;
    font-weight: bold;
  }

  /* line 478, ../sass/main.scss */
  fieldset {
    padding: 0 2em;
    display: initial;
  }

  /* line 479, ../sass/main.scss */
  fieldset div {
    margin: 0.75em;
    padding: 0.25em;
  }

  /* line 480, ../sass/main.scss */
  input, textarea {
    font-size: 0.75em;
    width: 20em;
    display: initial;
  }

  /* line 485, ../sass/main.scss */
  input[type=reset], input[type=submit], input[type=button] {
    width: 25%;
  }

  /* line 486, ../sass/main.scss */
  #callInitMod input[type=button] {
    width: 10%;
  }

  /* line 487, ../sass/main.scss */
  textarea {
    height: 3.75em;
  }

  /* line 489, ../sass/main.scss */
  .g-recaptcha {
    margin: 0;
    border-top: 1px dotted #aaa;
    border-bottom: 1px dotted #aaa;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
  }

  /* line 490, ../sass/main.scss */
  .g-recaptcha div {
    margin: 0;
    padding: 0;
  }

  /* line 491, ../sass/main.scss */
  .g-recaptcha iframe {
    padding-left: 19%;
  }
}
@media screen and (max-width: 730px) {
  /* line 497, ../sass/main.scss */
  #hero #slide2, #hero #commercialCTA {
    display: none !important;
  }
  /* line 498, ../sass/main.scss */
  #hero .logo {
    width: 100%;
    float: none;
    padding-right: 0;
  }
}
@media screen and (min-width: 650px) and (max-width: 768px) {
  /* line 507, ../sass/main.scss */
  main {
    padding: 0;
  }

  /* line 508, ../sass/main.scss */
  #pelogo {
    margin: auto;
  }

  /* line 509, ../sass/main.scss */
  #topsect article {
    padding-right: 3em;
  }

  /* line 510, ../sass/main.scss */
  #secsect article {
    padding-left: 4em;
  }

  /* line 511, ../sass/main.scss */
  aside {
    margin-left: 3em;
    margin-right: 3em;
  }

  /* line 512, ../sass/main.scss */
  aside figure {
    width: 32%;
  }

  /* line 513, ../sass/main.scss */
  aside figure:last-child {
    display: none;
  }

  /* line 514, ../sass/main.scss */
  aside figure span {
    margin-right: 1em;
  }
}
